### 对象操作增删改查

In [47]:
import pandas as pd

Series 结构增删改差

In [71]:
data = [10,11,12]
index = ['a', 'b', 'c']
s = pd.Series(data=data, index=index)
s

a    10
b    11
c    12
dtype: int64

查操作

In [72]:
s[0]

10

In [73]:
s[0:2]

a    10
b    11
dtype: int64

In [74]:
mask = [True, False, True]
s[mask]

a    10
c    12
dtype: int64

In [75]:
s.loc['b']

11

In [76]:
s.iloc[1]

11

改操作

In [77]:
s1 = s.copy()
s1['a'] = 100
s1

a    100
b     11
c     12
dtype: int64

In [78]:
s1.replace(to_replace=100, value=101, inplace=True)

In [79]:
s1

a    101
b     11
c     12
dtype: int64

In [80]:
s1.index

Index(['a', 'b', 'c'], dtype='object')

In [81]:
s1.index = ['a', 'b', 'd']
s1

a    101
b     11
d     12
dtype: int64

In [82]:
s1.rename(index={'a': 'A'}, inplace=True)
s1

A    101
b     11
d     12
dtype: int64

增操作

In [83]:
s2 = pd.Series([100,101], index=['h','k'])
s2

h    100
k    101
dtype: int64

In [84]:
s3 = s1.append(s2)

In [85]:
s3['j'] = 500
s3

A    101
b     11
d     12
h    100
k    101
j    500
dtype: int64

In [86]:
s1.append(s2, ignore_index=False)

A    101
b     11
d     12
h    100
k    101
dtype: int64

In [87]:
s1.append(s2, ignore_index=True)

0    101
1     11
2     12
3    100
4    101
dtype: int64

删操作

In [88]:
s1

A    101
b     11
d     12
dtype: int64

In [89]:
del s1['A']

In [90]:
s1

b    11
d    12
dtype: int64

In [91]:
s1.drop(['b', 'd'], inplace=True)

In [92]:
s1

Series([], dtype: int64)

dataframe结构增删改查

In [94]:
data = [[1,2,3],[4,5,6]]
index = ['a','b']
columns = ['A','B','C']

df = pd.DataFrame(data=data, index=index, columns=columns)
df

   A  B  C
a  1  2  3
b  4  5  6

查操作

In [99]:
df['A']

a    1
b    4
Name: A, dtype: int64

In [100]:
df[['A','B']]

   A  B
a  1  2
b  4  5

In [101]:
df.iloc[0]

A    1
B    2
C    3
Name: a, dtype: int64

In [102]:
df.loc['a']

A    1
B    2
C    3
Name: a, dtype: int64

改操作

In [103]:
df.loc['a']['A']

1

In [104]:
df.loc['a']['A'] = 150
df

     A  B  C
a  150  2  3
b    4  5  6

In [106]:
df.index = ['f', 'g']
df

     A  B  C
f  150  2  3
g    4  5  6

增操作

In [107]:
df.loc['c'] = [1,2,3]
df

     A  B  C
f  150  2  3
g    4  5  6
c    1  2  3

In [108]:
data = [[1,2,3],[4,5,6]]
index = ['j','k']
columns = ['A','B','C']

df2 = pd.DataFrame(data=data, index=index, columns=columns)
df2

   A  B  C
j  1  2  3
k  4  5  6

In [111]:
df3 = pd.concat([df,df2], axis=0)
df3

     A  B  C
f  150  2  3
g    4  5  6
c    1  2  3
j    1  2  3
k    4  5  6

In [112]:
df2['Tang'] = [10,11]
df2

   A  B  C  Tang
j  1  2  3    10
k  4  5  6    11

In [113]:
df4 = pd.DataFrame([[10,11],[12,13]], index=['j','k'], columns=['D','E'])
df4

    D   E
j  10  11
k  12  13

In [114]:
df5 = pd.concat([df2, df4], axis=1)
df5

   A  B  C  Tang   D   E
j  1  2  3    10  10  11
k  4  5  6    11  12  13

删操作

In [116]:
df5.drop(['j'], axis=0, inplace=True)

In [117]:
df5

   A  B  C  Tang   D   E
k  4  5  6    11  12  13

In [118]:
del df5['Tang']
df5

   A  B  C   D   E
k  4  5  6  12  13

In [119]:
df5.drop(['A','B','C'], axis=1, inplace=True)
df5

    D   E
k  12  13